body {
  width: 100vw;
  height: 100vh;
}

/* Containers */

#root {
  display: flex;
  justify-content: center;
}
.main-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 40px;
  
}

.form-container, .resume-container {
  width: 30vw;
  display: flex;
  gap:20px;
  padding: 2vw;
  border: 1px solid black
}

.form-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.resume-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

/* Form */

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

input, textarea {
  width: 200px;
}

/* Text */

.text {
  font-family: 'Courier New', Courier, monospace;
}

.large {
  font-size: 30px
}

.medium {
  font-size: 20px
}

.small {
  font-size: 15px
}

.bold {
  font-weight: bold;
}

.title {
  align-self: center;
}